.loginHeader {
    margin-bottom: 5px;
}
.loginHeader .customContainer{
    padding-top: 20px;
    padding-bottom: 20px;
}
.loginHeader .navbar-light .navbar-nav .nav-link{
    font-size: 18px;
    color: #000;
    padding: 0;
}
.loginHeader .navbar-light .navbar-nav .nav-item.active .nav-link{
    color: var(--sec-color);
    border-bottom: 2px solid var(--sec-color);
}
.loginHeader .navbar-light .navbar-nav .nav-item {
    padding: 0 15px;
}
.loginHeader .navbar-light .navbar-nav .nav-link i{
    font-size: 22px;
    color: #C1C1C1;
}

.loginHeader .MuiAvatar-colorDefault{
    background: var(--prim-color);
}