.userDetails {
  background: #efefef;
  height: 100vh;
}

.userDetails .userDetailForm {
  background: #fff;
  border-radius: 5px;
  padding: 45px 30px;
}
.userDetails .userDetailForm .MuiFormControl-root {
  width: 100%;
}

.userDetails .userDetailForm .userDetailTitle{
  font-size: 18px;
  font-weight: 700;
  color: #3E3E3E;
  text-align: left;
  margin-bottom: 20px;
}