.userAction{
margin-top: 30px;
}
.userAction .secondaryButton {
    width: 225px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
}

.userAction p{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    text-align: left;
    margin-bottom: 0;
}